<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @gift2.buyername %></h2>
    <p>
      <h3>Send to:</h3>
      <%= @gift2.name %><br>
      <%= @gift2.address %><br>
      <%= @gift2.city %><br>
      <%= @gift2.state %><br>
      <%= @gift2.zip %><br>
    </p>
    <p>
      <h3>Buyer:</h3>
      <%= @gift2.buyername %><br>
      <%= @gift2.email %><br>
      <%= @gift2.phone %><br>
      <%= @gift2.cardtype %><br>
      <%= @gift2.cardnum %><br>
      <%= @gift2.expiration %><br>
      <%= @gift2.amount %><br>
      <%= @gift2.comments %><br>
    </p>
  </body>
</html>