<div id="dinner">
	<div class="dinner_banner"> </div>

	<div id="content_mid">
		<div class="menu_links">
			<a class="llink" href="/welcome/dinner">Dinner</a>
			<span> | </span>
			<a class="mlink" href="/welcome/wine">Wine</a>
			<span> | </span>
			<a class="rlink" href="/welcome/dessert">Dessert</a>
		</div>

		<div class="container">
			<h2><%= @appetizer.name %></h2>
			<%= render @appetizers %>

			<h2><%= @salad.name %></h2>
			<%= render @salads %>	

			<h2><%= @entree.name %></h2>
			<%= render @entrees %>
		</div>
	</div>
	<div id="content_bot"> </div>
</div>