<div id="dinner">
	<div id="menu_top"> 
		<div class="wine_banner"> </div>
	</div>

	<div class="menu_links">
		<a class="llink" href="/welcome/dinner">Dinner</a>
		<span> | </span>
		<a class="mlink" href="/welcome/wine">Wine</a>
		<span> | </span>
		<a class="rlink" href="/welcome/dessert">Dessert</a>
	</div>

	<div id="content_mid">
		<div class="container">
			<h2><%= @wine1.name %></h2>
			<%= render @onewines %>

			<h2><%= @wine2.name %></h2>
			<%= render @twowines %>	

			<h2><%= @wine3.name %></h2>
			<%= render @threewines %>	

			<h2><%= @wine4.name %></h2>
			<%= render @fourwines %>	

			<h2><%= @wine5.name %></h2>
			<%= render @fivewines %>

			<h2><%= @wine6.name %></h2>
			<%= render @sixwines %>
		</div>
	</div>
	<div id="content_bot"> </div>
</div>