
  <%= form_for(@gift) do |f| %>

    <div class="box">
      <h3> Where should we send this gift card? </h3>

      <%= f.label :name, "Recipient Name" %>
      <%= f.text_field :name, class: "input" %>

      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: "input"  %>

      <%= f.label :city, "City" %> <%= f.label :state, "State", class: "rightlabel" %><br>
      <%= f.text_field :city, class: "inputhalf"  %>      
      <%= f.text_field :state, class: "inputrighthalf"  %><br>

      <%= f.label :zip, "Zip Code" %><br>
      <%= f.text_field :zip, class: "inputhalf"  %>

      <%= render 'shared/error_messages' %>
    </div>
    <div class="box">
      <h3> Buyer </h3>

      <%= f.label :buyername, "Buyer Name" %><%= f.label :email, "Email Address", :placeholder => "john@example.com", class: "rightlabel" %><br>
      <%= f.text_field :buyername, class: "inputhalf"  %>
      <%= f.text_field :email, class: "inputrighthalf"  %>

      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone, class: "input"  %>

      <%= f.label :cardtype, "Card Type" %>
      <%= f.text_field :cardtype, :placeholder => "Visa, Mastercard, Discover", class: "input"  %>

      <%= f.label :cardnum, "Card Number" %>
      <%= f.text_field :cardnum, class: "input"  %>

      <%= f.label :expiration, "Expiration Date" %><%= f.label :amount, "Gift Card Amount", class: "rightlabel" %>
      <%= f.text_field :expiration, class: "inputhalf"  %>      
      <%= f.text_field :amount, class: "inputrighthalf"  %>

      <%= f.label :comments, "Comments/Instructions" %>
      <%= f.text_area :comments, :placeholder => "Would you like us to handle your order in a specific way?", class: "inputcomment"  %>
    
      <%= f.submit "Purchase", class: "submitbtn" %>
    </div>
  <% end %>