<!DOCTYPE html>
<html>
<head>
  <title>Rooney's Restaurant in Rochester, New York</title>
  <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Rooney's Restaurant is a best-kept culinary secret tucked away on Henrietta Street in Rochester, New York." />
  <meta name="keywords" content="Rooneys, restaurant, fine, dining, rochester, american, steaks, dinner" />
  <meta name="Name" content="Rooney's Restaurant in Rochester, New York" />

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43568745-5', 'rooneysrestaurant.com');
	  ga('send', 'pageview');

	</script>
</head>
<body>

	<div id="header">
		<!-- <div id="grad"> </div> -->
		<div id="head_container">
			<div id="logo"><a href="/welcome/index"><img src="/assets/logo.png" width="200px" /></a></div>
			<div id="links">
				<a class="link" href="/welcome/about">Our Restaurant</a>
				<a class="link" href="/welcome/menus">Menus</a>	
				<%= link_to 'Gift Cards', new_giftcard_path, class: "link" %>		
				<a class="link" href="/welcome/event">Special Events</a>
				<a class="link" href="/welcome/private">Private Dining</a>
				<a class="link" href="/welcome/reserve">Reservations</a>					
				<a class="link" style="margin-right:0;" href="/welcome/contact">Contact</a>				
			</div>
			<div id="information">
				<div class="info" style="margin-right: 60px;">90 Henrietta Street, Rochester, NY</div>
				<div class="info">(585) 442 0444</div>
			</div>
		</div>
	</div>

		<%= yield %>

	<div id="footer">
		<div class="wrapper">
			<div class="social">  
			<h1> Follow us: </h1>
				<a href="https://www.facebook.com/rooneysrestaurant" target="_blank"><div class="fb icon"> </div></a>
			</div>
			<div class="copyright">  
				Rooney's Restaurant © 2013.  All Rights Reserved. <a target="_blank" href="http://www.responsive.co"><img src="/assets/responsively_made.png" /></a> 
			</div>
			<div class="contact">  
				<h1> Find us: </h1>
				90 Henrietta Street</br>
				Rochester, NY 14620</br>
				Phone: (585) 442 0444</br>
				Fax: (585) 461 4817
			</div>
		</div>
		<div class="clear"> </div>
	</div>
</body>
</html>
