<!DOCTYPE html>
<html>
<head>
  <title>Rooneys</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<!-- <div id="grad"> </div> -->
		<div id="head_container">
			<div id="logo"><a href="/welcome/index"><img src="/assets/logo.png" width="200px" /></a></div>
			<div id="links">
				<a class="link" href="/welcome/about">Our Restaurant</a>
				<a class="link" href="/welcome/menus">Menus</a>	
				<%= link_to 'Gift Cards', new_giftcard_path, class: "link" %>		
				<a class="link" href="/welcome/event">Special Events</a>
				<a class="link" href="/welcome/private">Private Dining</a>
				<a class="link" href="/welcome/reserve">Reservations</a>					
				<a class="link" style="margin-right:0;" href="/welcome/contact">Contact</a>				
			</div>
			<div id="information">
				<div class="info" style="margin-right: 60px;">90 Henrietta Street, Rochester, NY</div>
				<div class="info">(585) 442 0444</div>
			</div>
		</div>
	</div>

	<div id="container">

		<%= yield %>
	
	</div>

	<div id="footer">
		<div class="wrapper">
			<div class="social">  
			<h1> Follow us: </h1>
				<a href="https://www.facebook.com/rooneysrestaurant" target="_blank"><div class="fb icon"> </div></a>
			</div>
			<div class="copyright">  
				Rooney's Restaurant © 2013.  All Rights Reserved. <a target="_blank" href="http://www.responsive.co"><img src="/assets/responsively_made.png" /></a> 
			</div>
			<div class="contact">  
				<h1> Find us: </h1>
				90 Henrietta Street</br>
				Rochester, NY 14620</br>
				Phone: (585) 442 0444</br>
				Fax: (585) 461 4817
			</div>
		</div>
		<div class="clear"> </div>
	</div>
</body>
</html>
